# Visual studio files #
#######################

# Directories
*x64/
*.vs/
*packages/

# Files
*.sln
*.vcxproj
*.filters
*.user

# dll created
godot/Lib-sorry_elisabeth_src-x64-Debug.*

# Specific to the project and local configuration #
###################################################
*in_dev_assets/
*marketing/